* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;

    color: white;
}

body {
    background-image: url('webground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#intro-block {
    margin: 20px;
}

#sup-bois {
    font-family: "Jersey 15", sans-serif;
}

h2 {
     font-family: "Bitcount Grid Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

#intro {
    /* margin: 20px; */
    font-size: 50px;
}

#refer {
    font-style: italic;
    text-decoration: underline;
     font-family: "Bitcount Grid Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 600;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

#first-para {
    font-size: 30px;
    margin-top: 50px;
    /* margin-left: 20px; */
}

#links {
    margin: 20px;
}

footer {
    margin-top: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    backdrop-filter: blur(1000px);
    border-radius: 5px;
}

#links {
    display: flex;
    justify-content: space-around;
}