body {
    background-color: rgb(35, 35, 35);
    color: whitesmoke;
    /* text-align: center; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.heroLine {
    font-size: clamp(1rem, 3vw, 3rem);
}

#name {
    font-style: italic;
    font-family: austin;
}

.details {
    font-size: clamp(0.5rem, 1.5vw, 1.5rem);
}

#weirdStuff {
    font-style: italic;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: clamp(1rem, 3vw, 3rem);
}

button {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    height: 2rem;
    width: 5rem;
    border-radius: 1rem;
    border: 5px;
}

